
/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap */

#form1-2w {
  padding-top:30px;
  padding-bottom:30px;
}

.padding-zero {
  padding: 0px 0px 0px 0px;
}

.row {
  margin: 0px auto;
  width:100%;
}

h2 {
  font-size:38px;
  word-break:keep-all;
}

h3 {
  font-size:14px;
  word-break:keep-all;
}
.contact-us-backgroundimg {
  background: url('../../../assets/manhattan_1.jpg');
  z-index:-1;
  background-repeat: no-repeat;
  width:100%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}


/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

}


/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  h2 {
    font-size:94px;
  }

  h3 {
    font-size:30px;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
