<section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background contact-us-backgroundimg " id="form1-2w" data-rv-view="12343">
    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(189, 224, 235);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8 text-center">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"><strong>
                    CONTACT US</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    문의가 있으시다면 아래 Form을 통해 알려주세요
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>

                    <form class="mbr-form" action="mailto:joejung5678@gmail.com" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="kqFqno2KW04bIxijjgoylF6ETUVDNjUuM15pCRb1Z1NIkWeNIFLZV5P1Onc+TtVXaw3wVPYZkv7wMQ1GgcLvB06GO2ITS2amXSKW/NIIZl3twLRAXVVHmthuow1K9SwK">
                        <div class="row row-sm-offset">
                            <div class="col-md-3 multi-horizontal padding-zero" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Name</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-4 offset-md-1 multi-horizontal padding-zero" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-1 multi-horizontal padding-zero" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Message</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                        </div>

                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">SEND FORM</button>
                        </span>
                    </form>
            </div>
        </div>
    </div>
</section>
