<!--
Angular GNB Toggle w/ Mobile & PC
1. [class.show]="show" -> Class 'show' Binding based on whether 'show' is true or false.
2. (click)="toggleCollapse()" -> Allows angular to toggle the navbar on click event
-->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded box-shadow">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" routerLink="/" (click)="onClickLogo()"><strong>VAYA</strong><img src="../../assets/vaya_logo.gif" alt="vaya logo" height="20" width="20"/></a>
  <div class="collapse navbar-collpase" id="navbarNavDropdown" (window:resize)="onResize($event)" [class.show] = "show">
    <ul class="nav navbar-nav pull-left">
      <li class="nav-item">
        <a class="nav-link" href="https://www.arumdaunchurch.org/web/" target="_blank" (click)="toggleCollapse()">아름다운교회</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          예배
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="#" routerLink="/SermonListComponent" (click)="toggleCollapse();checkAuthenticationStatus()">설교요약</a>
          <a class="dropdown-item" href="#" routerLink="/PraiseRecordingListComponent" (click)="toggleCollapse();checkAuthenticationStatus()">찬양녹음</a>
          <a class="dropdown-item" href="#" routerLink="/YoungAdultsColumnListComponent" (click)="toggleCollapse();checkAuthenticationStatus()">청년칼럼</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/ComingsoonComponent" (click)="toggleCollapse()">새신자환영</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">중보기도</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          앨범
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" href="#" routerLink="PictureListComponent" (click)="toggleCollapse()">사진</a>
          <!--<a class="dropdown-item" href="#" routerLink="VideoListComponent" (click)="toggleCollapse()">비디오</a>-->
        </div>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          게시판
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <a class="dropdown-item" href="#" routerLink="ComingsoonComponent" (click)="toggleCollapse()">삶의 나눔</a>
          <a class="dropdown-item" href="#" routerLink="ComingsoonComponent" (click)="toggleCollapse()">말씀 나눔</a>
        </div>
      </li>-->
      <li class="nav-item" [hidden]="showLoginMobile">
        <a class="nav-link" *ngIf="isAuthenticated" href="#" (click)="signOut();toggleCollapse()">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="LoginComponent" (click)="toggleCollapse()">Sign In <i class="fa fa-user" aria-hidden="true"></i></a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right" [hidden]="showLoginDesktop">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" href="#" (click)="signOut();toggleCollapse()">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="LoginComponent" (click)="toggleCollapse()">Sign In <i class="fa fa-user" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
