<div class="row">
    <div class="col-xs-12 col-sm-12 newcommer-backgroundimg">
        <div class="row newcommer-text-row">
            <div class="offset-2 col-8 text-center newcommer-text">
                <h2>Welcome to VAYA!</h2>
            </div>
            <br/>
            <div class="offset-2 col-8 newcommer-text">
                <strong>예배안내</strong>
                <p>
                    <strong>새벽기도회:</strong>
                    <br/> 월~금 5:30pm @본당 소극장
                    <br/> 토요일 6:00pm @본당
                </p>
                <p>
                    <strong>화요중보기도:</strong>
                    <br/> 매주 화요일 저녁 8시 @체플 B
                </p>
                <p>
                    <strong>목자(성경공부) 모임:</strong>
                    <br/> 매주 토요일 4:30pm
                </p>
                <p>
                    <strong>목장 모임:</strong>
                    <br/> 매주 청년부 예배 후
                </p>
                <p>
                    <strong>중보기도 모임:</strong>
                    <br/> 매주 청년 예배전 1:00pm @체플 B
                </p>
                <strong>목자안내</strong>
                <p>
                    <strong>목자:</strong>
                    <br/> 석지원, 송유진, 정하은, 한보현, 정윤태, 이강현, 한화정, 최수잔, 정윤재, 박선주, 이민희, 김호경 사모(새신자)
                    <br/>
                    <strong>협력목자:</strong>
                    <br/> 김민수
                    <br/>
                    <span class="span-for-info">(목장의 관련된 문의는 목장팀장에게 해주세요)</span>
                </p>
                <strong>팀장안내</strong>
                <p>
                    <strong>이지선</strong> - 예배문서팀
                    <br/>
                    <strong>한보현</strong> - 중보기도팀
                    <br/>
                    <strong>정하은</strong> - 목장담당
                    <br/>
                    <strong>정윤태</strong> - 찬양팀
                    <br/>
                    <strong>이강현</strong> - 차량팀
                    <br/>
                    <strong>송유진</strong> - 회계팀
                    <br/>
                    <strong>김민수</strong> - 방송팀
                    <br/>
                    <strong>박선주</strong> - 네트워크팀
                    <br/>
                    <strong>최수잔</strong> - 디자인팀
                    <br/>
                    <strong>김서영</strong> - 웰컴팀
                    <br/>
                    <span class="span-for-info">(팀의 관련된 문의는 각팀 팀장님께 해주세요)</span>
                </p>
                <strong>담당교역자</strong>
                <p><strong>이대은 전도사</strong> <a href="mailto:ldedado@gmail.com">ldedado@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>