.row {
  padding-top:10px;
}
h2 {
  word-break:keep-all;
  font-size:24px;
}

.title {
  font-weight: bold;
}

.border{
  word-break:keep-all;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
   padding-bottom:20px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  h2 {
    word-break:keep-all;
    font-size:36px;
  }
  .font{ 
    font-size:24px;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
