<div class="row">
  <div class="col-xs-12 col-sm-12 front2-backgroundimg">
    <div class="row">
      <div class="col-xs-12 col-sm-12 front2-text">
        <h3>This Week's News</h3>
        <ul>
          <li><span class="list-title">중보기도:</span> 1pm 부터 예배당 지정석에서 중보기도 모임이 있습니다. 함께 기도로 중보하며 예배를 준비합시다.</li>
          <li><span class="list-title">라이드 공지:</span> 라이드가 필요하신 분들은 이강현 형제에게 연락주세요 (516-631-3601) 매주5시, 8시 - 헌팅턴 역으로 청년버스 출발!</li>
          <li><span class="list-title">청년과 문화:</span> 10/29 (주일), #모든 청년들을 환영합니다. 전도대상자 (V.I.P) 영혼들을 초대하며, 모든 청년들이 예수의 가치를 발견하고, "청년과 문화"의 모임안에서 "조화로움, 성숙함, 아름다움"이 가득하길 소망합니다.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
