<!-- <app-worship-banner></app-worship-banner> -->
<div class="row">
  <div class="col-10 offset-1">
    <div class="border">
      <div *ngIf="!yaColumn">
        <div class="row">
          <div class="col-3 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            Loading...
          </div>
        </div>
      </div>
      <div *ngIf="yaColumn">
        <div class="row">
          <div class="col-10 offset-1">
            <h2><span class="title">청년 칼럼:</span> {{yaColumn.title}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
              <span class="title">작성자:</span> {{yaColumn.author}}
          </div>
          <div class="col-10 offset-1">
              <span class="title">작성 날짜:</span> {{yaColumn.date}}
          </div>
          <div class="col-10 offset-1">
              <span class="title">본문 말씀:</span> {{yaColumn.mainVerse}}
          </div>
          <div class="col-10 offset-1">
              <span class="title">내용:</span><br/> {{yaColumn.body}}
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button class="btn btn-secondary" *ngIf="isAdmin || isOwner" [routerLink]="['/yacolumn/edit',yaColumn.id]">Edit</button>
        <button class="btn btn-danger" *ngIf="isAdmin || isOwner" (click)="onClickDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>