<!-- <app-worship-banner></app-worship-banner> -->
  <div class="row">
    <div class="col-10 offset-1 col-lg-10 offset-lg-1">
      <h2>Register</h2>
    </div>
  </div>
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" novalidate>
  <div class="row" >
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="email">Email: </label>
      </div>
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="text" class="form-control" id="title" name="email" [(ngModel)]="member.email" #memberEmail = "ngModel" required>
        <div *ngIf="memberEmail.errors?.required && memberEmail.touched" class="alert alert-danger">
          Email is required
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="name">Name: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="input" class="form-control" id="name" name="name" [(ngModel)]="member.name" #memberName = "ngModel" required/>
        <div *ngIf="memberName.errors?.required && memberName.touched" class="alert alert-danger">
          Name is required
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="password">Password: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="member.password" #memberPassword = "ngModel" required/>
        <div *ngIf="memberPassword.errors?.required && memberPassword.touched" class="alert alert-danger">
          Password is required
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="confirmpassword">Confirm Password: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" [(ngModel)]="member.confirmPassword" #memberConfirmPassword = "ngModel" required/>
        <div *ngIf="memberConfirmPassword.errors?.required && memberConfirmPassword.touched" class="alert alert-danger">
          Confirm Password is required
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <button type="submit" class="btn btn-success" >Submit</button>
      </div>
  </div>
  </form>
