<!-- <app-worship-banner></app-worship-banner> -->
  <div class="row">
    <div class="col-10 offset-1 col-lg-10 offset-lg-1">
      <h2>Edit Post</h2>
    </div>
  </div>
  <form *ngIf="yaColumn" (ngSubmit)="onSubmit(yaColumnEditForm)" #yaColumnEditForm="ngForm" novalidate>
  <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="title">Title: </label>
      </div>
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="text" class="form-control" [(ngModel)]="yaColumn.title" name="title" #yaColumnTitle ="ngModel" required>
        <div *ngIf="yaColumnTitle.errors?.required && yaColumnTitle.touched" class="alert alert-danger">
          Title is required.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="author">Author: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="text" class="form-control" id="author" [(ngModel)]="yaColumn.author" name="author" #yaColumnAuthor = "ngModel" [readonly]="true" required>
        <div *ngIf="yaColumnAuthor.errors?.required && yaColumnAuthor.touched" class="alert alert-danger">
          Author is required.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="author">Main Verse: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="text" class="form-control" id="mainVerse" [(ngModel)]="yaColumn.mainVerse" name="mainVerse" #sermonMainVerse = "ngModel" required>
        <div *ngIf="sermonMainVerse.errors?.required && sermonMainVerse.touched" class="alert alert-danger">
          Main Verse is required.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="date">Date: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <input type="text" class="form-control" id="date" (ngModel)="yaColumn.date=$event" [ngModel]="yaColumn.date | date:'shortDate'" name="date" #yaColumnDate = "ngModel" required>
        <div *ngIf="yaColumnDate.errors?.required && yaColumnDate.touched" class="alert alert-danger">
          Date is required.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <label for="body">Body: </label>
      </div>
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <textarea class="form-control" id="body" name="body" cols="10" rows="5"  [(ngModel)]="yaColumn.body" #yaColumnBody = ngModel required></textarea>
        <div *ngIf="yaColumnBody.errors?.required && yaColumnBody.touched" class="alert alert-danger">
          Body is required.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <button type="submit" class="btn btn-success" >Submit</button>
        <button type="button" class="btn btn-primary" (click)="onClickBack()">Back</button>
      </div>
  </div>
  </form>
