<div class="row padding-for-navbar">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2">
        <h2>Edit Picture</h2>
    </div>
</div>
<form *ngIf="picture" (ngSubmit)="onSubmit(pictureEditForm)" #pictureEditForm="ngForm" novalidate>
    <div class="row">
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <label for="title">Title: </label>
        </div>
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <input type="text" class="form-control" id="title" [(ngModel)]="picture.title" name="title" #pictureTitle="ngModel" required>
            <div *ngIf="pictureTitle.errors?.required && pictureTitle.touched" class="alert alert-danger">
                Title is required
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                <label for="date">Date: </label>
            </div>
            <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                    <input type="text" class="form-control" id="date" (ngModel)="picture.date=$event" [ngModel]="picture.date | date:'shortDate'" name="date" #pictureDate = "ngModel" required/>
                <div *ngIf="pictureDate.errors?.required && pictureDate.touched" class="alert alert-danger">
                    Date is required
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <label for="body">Description: </label>
        </div>
        <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <input type="text" class="form-control" id="body" [(ngModel)]="picture.body" name="body" #pictureBody="ngModel" required/>
            <div *ngIf="pictureBody.errors?.required && pictureBody.touched" class="alert alert-danger">
                Description is required
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <label for="fileData">File: </label>
        </div>
        <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <input type="file" class="form-control" id="fileData" name="fileData" (change)="fileChange($event)" />
        </div>
    </div>
    <div class="row">
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                    <label>As-Is: </label>
                </div>
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <img class="img-responsive" [src]="filePath + picture.originalFileName" [alt]="originalFileName">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
</form>