<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h1 class="page-header">
						VAYA <small>About Us</small>
					</h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h2 class="korean-font-category">VAYA란?</h2>
    <div class="col-lg-10 korean-font-subcategory">
      "Vision Awakening Young Adult"의 줄임말로써 비전을 품는 청년부라는 의미를 지녔습니다.<br /> 이번 2017년도에는 저희 청년부와 함께 하나님께서 주신 비젼을 기도하며 함께 품으시기를 소망합니다.
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">예배 안내</h4>

    <div class="col-lg-10 korean-font-subcategory">
      새벽기도회: 월~금 오전 5:30pm @본당 소극장, 토요일 오전 6:00pm @본당<br /> 화요중보기도: 매주 화요일 저녁 8시 @Chapel B<br /> 목장모임: 매주 청년부 예배 후<br /> 중보기도모임: 매주 청년부 예배 전 1:00pm @Chapel B <br />
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">목장 안내</h4>

    <div class="col-xs-12 col-sm-10 korean-font-subcategory">
      목자: 석지원, 정하은, 한보현, 정윤태, 최수잔, 송유진, 한화정, 정윤재, 이강현, 김호경 사모 (새신자반)<br /> 협력목자: 이민희, 복석민, 박선주 <br /> <small>(목장에 관련된 문의는 목장지기에게 해주세요)</small><br />
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">팀장 안내</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          이지선 (예배문서팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          이민희 (미디어팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          김민수 (스테이지엔지니어팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          한형선 (네트워크팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          한보현 (중보기도팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          이강현 (차량팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          이혜화 (웰컴팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          송유진 (새신자팀)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12 col-sm-10 korean-font-subcategory">
          <small>(팀에 등록을 원하시는 분은 위 팀장께 문의해주세요.)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">담당 교역자</h4>
    <div class="col-xs-12 col-sm-10 korean-font-subcategory">
      청년지기: 이대은<br /> email: <a href="mailto:Idedado@gmail.com">Idedado@gmail.com</a><br />
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">임원 안내</h4>
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          청지기: 이솔<br /> email: <a href="mailto:ls2420@hotmail.com">ls2420@hotmail.com</a><br />
          <br />
        </div>
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          목장지기: 정하은<br /> email: <a href="mailto:chunghaeun90@gmail.com">chunghaeun90@gmail.com</a><br />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          총무: 정윤태<br /> email: <a href="mailto:tay27@gmail.com">tay27@gmail.com</a><br />
          <br />
        </div>
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          총무: 이강현<br /> email: <a href="mailto:kanghyunlee@mail.adelphi.edu">kanghyunlee@mail.adelphi.edu</a><br />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          회계: 정윤재<br /> email: <a href="mailto:joejung5678@gmail.com">joejung5678@gmail.com</a><br />
          <br />
        </div>
        <div class="col-xs-12 col-sm-6 korean-font-subcategory">
          서기: 한보현<br /> email: <a href="mailto:eeppunarianxd@gmail.com">eeppunarianxd@gmail.com</a><br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="korean-font-category">VAYA</h4>
    <div class="col-xs-12 col-sm-8 korean-font-subcategory">
      <i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:vayaarumdaunkm@gmail.com">vayaarumdaunkm@gmail.com</a><br />
    </div>
    <div class="col-xs-12 col-sm-8 korean-font-subcategory">
      <i class="fa fa-facebook" aria-hidden="true"></i> Facebook Page: <a href="https://www.facebook.com/VAYAarumdaunKM/" target="_blank">https://www.facebook.com/VAYAarumdaunKM/</a><br />
    </div>
  </div>
</div>
<hr />
<!-- <div class="row">
				<div class="col-lg-12">
					<h4 class="korean-font-category">VAYA Map</h4>
					<div class="col-lg-10 korean-font-subcategory">
						<div id="map"></div>
					</div>
				</div>
			</div> -->
      </div>
