<div class="row margin padding-for-navbar">
    <div *ngIf="isLoading" class="col-10 offset-1">
            Loading...
    </div>
    <div *ngIf="!isLoading" class="col-10 offset-1">
        <div class="row">
            <ngx-gallery id="ngx-gallery" [options]="galleryOptions" [images]="galleryImages" (previewOpen)="navHide()" (previewClose)="navShow()"></ngx-gallery>
        </div>
    </div>

    <div class="row" [hidden]="hiddenVar">
        <table class="table table-responsive col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <thead>
                <tr>
                    <th class="table-column-width-10">#</th>
                    <th class="table-column-width-20">Author</th>
                    <th class="table-column-width-30">Title</th>
                    <th *ngIf="isAdmin" class="table-column-width-30">Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngIf="isLoading">
                    <td>Loading...</td>
                </tr> -->
                <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                    <td class="table-column-width-10">{{i+1}}</td>
                    <td class="table-column-width-20">{{item?.author}}</td>
                    <td class="table-column-width-30">
                        <a [routerLink]="['/picture/edit', categoryId ,item.id]">{{item?.title}}</a>
                    </td>
                    <td *ngIf="isAdmin" class="table-column-width-30">
                        <button class="btn btn-danger" (click)="onClickDelete(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <div class="row"></div>
            <pagination-controls class="pagination-css" (pageChange)="p = $event"></pagination-controls>
        </table>
    </div>
    <div class="row">
        <div class="col-10 offset-2">
            <button class="btn btn-primary" (click)="onClickBack()">Back</button>
            <button class="btn btn-primary" *ngIf="isAdmin" [routerLink]="['/picture/create',categoryId]">Add More Pictures</button>
            <button class="btn btn-primary" *ngIf="isAdmin" (click)="onClickEdit()">Edit</button>
        </div>
    </div>
</div>