<!-- <app-worship-banner></app-worship-banner> -->
<div class="row">
  <div class="col-10 offset-1">
    <div class="border">
      <div *ngIf="!sermonPost">
        <div class="row">
          <div class="col-3 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            Loading...
          </div>
        </div>
      </div>
      <div *ngIf="sermonPost">
        <div class="row">
          <div class="col-10 offset-1">
            <h2><span class="title">말씀 주제:</span> {{sermonPost.title}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 font">
              <span class="title">작성자:</span> {{sermonPost.author}}
          </div>
          <div class="col-10 offset-1 font">
              <span class="title">작성 날짜:</span> {{sermonPost.date}}
          </div>
          <div class="col-10 offset-1 font">
              <span class="title">본문 말씀:</span> {{sermonPost.mainVerse}}
          </div>
          <div class="col-10 offset-1 font">
              <span class="title">내용:</span><br/>
            {{sermonPost.body}}
          </div>
          <div class="col-10 offset-1 font">
              <span class="title">관련 자료 다운로드: </span><br/>
            <!-- <img width="200" height="200" *ngIf="imageFile" [src]="imageFile"> -->
            <button class="btn btn-primary cursor-pointer" (click)="downloadFile()" [hidden]="hide">File Download</button>
            <ng-progress [hidden]="!hide" [thick]="true"></ng-progress>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-12">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button class="btn btn-secondary" *ngIf="isAdmin || isOwner" [routerLink]="['/sermon/edit',sermonPost.id]">Edit</button>
        <button class="btn btn-danger" *ngIf="isAdmin || isOwner" (click)="onClickDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>