<div class="row">
  <div class="col-xs-12 col-sm-12 comingsoon-backgroundimg">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2 text-center comingsoon-text">
        <p>This page is not ready yet.</p>
      </div>
      <div class="col-xs-12 col-sm-8 offset-sm-2 text-center comingsoon-text">
        <p>Thank you for your patience!</p>
      </div>
      <div class="col-xs-12 col-sm-8 offset-sm-2 text-center comingsoon-text">
        <p>너희에게 인내가 필요함은 너희가 하나님의 뜻을 행한 후에 약속하신 것을 받기 위함이라</p>
      </div>
      <div class="col-xs-12 col-sm-8 offset-sm-2 text-center comingsoon-text">
        <p>(히 10:36)</p>
      </div>
    </div>
  </div>
</div>
