
<div class="row padding-for-navbar">
    <div *ngIf="!items" class="col-10 offset-1">
        Loading...
      </div>
  <div class="col-10 offset-1">
    <div  class="row">
      <div *ngFor="let item of items">
        <div  class="col-12 padding-on-each-card text-center">
          <div class="card shadow-on-each-card">
            <a [routerLink]="['/picture/list',item.id]">
              <img class="card-img-top" [src]="filePath + item.originalFileName" [alt]="item.title + ' ' + item.year">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>

              <p class="card-text">{{item.year}}</p>
              <button *ngIf="isAdmin" class="btn btn-primary" (click)="onClickEdit(item.id)">Edit</button>
              <button *ngIf="isAdmin" class="btn btn-danger"  (click)="onClickDelete(item.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-1 col-lg-4 offset-lg-2">
    <button class="btn btn-primary" *ngIf="isAdmin"  routerLink="/picture/pictureList-create">New</button>
  </div>
</div>