<div class="row padding-for-navbar">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2">
    <h2>Create Picture Category</h2>
  </div>
</div>
<form (ngSubmit)="onSubmit(pictureListCreateForm)" #pictureListCreateForm="ngForm" novalidate>
<div class="row" >
    <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <label for="title">Title: </label>
    </div>
    <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <input type="text" class="form-control" id="title" [(ngModel)]="pictureList.title" name="title" #pictureListTitle = "ngModel" required>
      <div *ngIf="pictureListTitle.errors?.required && pictureListTitle.touched" class="alert alert-danger">
        Title is required
      </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <label for="fileData">File: </label>
    </div>
    <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <input type="file" class="form-control" id="fileData" name="fileData" (change)="fileChange($event)" />
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <label for="year">Year: </label>
    </div>
    <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <select class="form-control" id="year" [(ngModel)]="pictureList.year" name="year" #pictureListYear="ngModel" required>
            <option [ngValue]="undefined" selected disabled>Select Year</option>
            <option value="2017 1st Semester">2017 1st Semester</option>
            <option value="2017 2nd Semester">2017 2nd Semester</option>
            <option value="2018 1st Semester">2018 1st Semester</option>
            <option value="2018 2nd Semester">2018 2nd Semester</option>
            <option value="2019 1st Semester">2019 1st Semester</option>
            <option value="2019 2nd Semester">2019 2nd Semester</option>
            <option value="2020 1st Semester">2020 1st Semester</option>
            <option value="2020 2nd Semester">2020 2nd Semester</option>
        </select>
      <div *ngIf="pictureListYear.errors?.required && pictureListYear.touched" class="alert alert-danger">
        Year is required
      </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
      <button type="submit" class="btn btn-success" >Submit</button>
      <button type="button" (click)="onClickBack();" class="btn btn-primary" >Back</button>
      <button type="button" (click)="pictureListCreateForm.reset()" class="btn btn-danger" >Cancel</button>
    </div>
</div>
</form>
